.leyenda-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.item-leyenda {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #555;
}

.punto {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
}

.pendiente { background-color: #FBC02D; }
.hecho { background-color: #2E7D32; }
.no-realizado { background-color: #D32F2F; }
